@use 'functions' as *;

$small-max: rem(500);
$large-min: rem(1000);

$small: 'width <= #{$small-max}';
$medium: '#{$small-max} < width < #{$large-min}';
$large: 'width >= #{$large-min}';

$sidebar-min: rem(800);
$sidebar-aside: 'width >= #{$sidebar-min}';
$sidebar-below: 'width < #{$sidebar-min}';
